<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1 class="title" th:text="${title}"></h1>
    <form th:action="@{/api/people/students/postRegister}" th:object="${student}"
		method="post">
		<input type="hidden" th:field="*{id}">
        <div class="form1">
            <div class="form-group1">
                <label class="label" for="name">Name:</label>
                <input class="input" type="text" id="name" th:field="*{name}" name="name" placeholder="Enter name">   
                <small class="form-text text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>   
            </div>
            <div class="form-group2">
                <label class="label" for="surname">Surname:</label>
                <input class="input" type="text" id="surname" th:field="*{surname}" name="surname" placeholder="Enter surname">   
                <small class="form-text text-danger" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></small>
            </div>
            <div class="form-group3">
                <label class="label" for="dni">D.N.I:</label>
                <input class="input" type="text" id="dni" th:field="*{dni}" name="dni" placeholder="Enter D.N.I">   
                <small class="form-text text-danger" th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}"></small>
            </div>
            <div class="form-group4">
                <label class="label" for="phone">Phone:</label>
                <input class="input" type="text" id="phone" th:field="*{phone}" name="phone" placeholder="Enter phone">   
                <small class="form-text text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></small>
            </div>
            <div class="form-group5">
                <label class="label" for="imput">Address:</label>
                <input class="input" type="text" id="imput" th:field="*{address}" name="address" placeholder="Enter address">   
                <small class="form-text text-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></small>
            </div>
            <div class="form-group6">
                <label class="label" for="yearStudied">Year:</label>
                <input class="input" type="text" id="yearStudied" th:field="*{yearStudied}" name="yearStudied" placeholder="Enter year">
                <small class="form-text text-danger" th:if="${#fields.hasErrors('yearStudied')}" th:errors="*{yearStudied}"></small> 
            </div>
            <div class="form-group7"> 
                <label class="label" for="imput">Subjects:</label>
            </div>       
            <div class="checks">
                <div>
                <input class="check1" type="checkbox" name="subjectValues" th:each="subject : ${subjects}" 
					   th:text="${subject.name}" th:value="${subject}">
                </div>   
                <div th:if="${not #lists.isEmpty(subjectsStudying)}">
                <input class="check1" type="checkbox" th:each="subject : ${subjectsStudying}" 
					   th:text="${subject.name}" th:value="${subject}" checked>									   
           		</div>                
            </div>
        </div>
        <button type="submit" class="btn">Save</button>
      </form>
</body>
</html>