<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students</title>
</head>
<body>
    <div class="table-container">    
        <table class="table">   
            <caption class="table-caption">STUDENTS</caption>  
            <thead>
              <tr class="table-row">
                <th class="table-head">#ID</th>
                <th class="table-head">Name</th>
                <th class="table-head">Surname</th>
                <th class="table-head">D.N.I</th>
                <th class="table-head">Phone</th>
                <th class="table-head">Address</th>
                <th class="table-head">Year Studied</th>
                <th class="table-head">Teachers</th>
                <th class="table-head">Subjects</th>             
                <th class="table-head">Edit</th>
                <th class="table-head">Delete</th>
                
              </tr>
            </thead>
            <tbody>
              <tr class="table-row" th:each="student:${findAll}">
                <th class="table-data" scope="row" th:text="${student.id}"></th>
                <td class="table-data" th:text="${student.name}"></td>
                <td class="table-data" th:text="${student.surname}"></td>
                <td class="table-data" th:text="${student.dni}"></td>
                <td class="table-data" th:text="${student.phone}"></td>
                <td class="table-data" th:text="${student.address}"></td>
                <td class="table-data" th:text="${student.yearStudied}"></td>
                <td class="table-data"><a class="link" th:target="_blank" th:href="@{/api/people/students/teachers/} + ${student.id}">To Show</a></td>
                <td class="table-data"><a class="link" th:target="_blank" th:href="@{/api/people/students/subjects/} + ${student.id}">To Show</a></td>
                <td class="table-data"><a class="link" th:target="_blank" th:href="@{/api/people/students/update/} + ${student.id}">Edit</a></td>
                <td class="table-data"><a class="link" th:href="@{/api/people/students/delete/} + ${student.id}"
					onclick="return confirm('make sure to delete the user')">Delete</a></td>                                
              </tr>
            </tbody>
          </table>
    </div>
    <div class="links-students">
      <div>
        <a class="register"
        href="/api/people/students/register">Register</a>
      </div>
    </div>
</body>
</html>